<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454380954716-hn643ct9r9bv903se06906d6cb6gvajg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454380954716-hn643ct9r9bv903se06906d6cb6gvajg</string>
	<key>API_KEY</key>
	<string>AIzaSyDnt60x4XSZ2M5oayp_kA9mfiUSwFTjljI</string>
	<key>GCM_SENDER_ID</key>
	<string>454380954716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evofly.gemastik.evofly</string>
	<key>PROJECT_ID</key>
	<string>evofly-767be</string>
	<key>STORAGE_BUCKET</key>
	<string>evofly-767be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454380954716:ios:23e32621d83488583c3299</string>
</dict>
</plist>